.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px 10px 10px 20px;
	font-size: 2rem;
	color: blue;
	font-family: sans-serif;
	font-weight: 700;
}

.select {
	font-size: 1.7rem;
	color: blue;
	font-family: sans-serif;
	font-weight: 700;
	border: none;
	border-radius: 5px;
	padding: 7px 7px 7px 10px;
}

.fieldDiv {
	margin: 50px 0 0 0;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0 0 10px;
}

.btnCreate {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: rgb(63, 124, 255);
	cursor: pointer;
	font-size: 1.3rem;
	color: white;
	font-weight: 700;
	margin: 0 30px 0 30px;
}

.btnSeed {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: rgb(63, 124, 255);
	cursor: pointer;
	font-size: 1.3rem;
	color: white;
	font-weight: 700;
	margin: 0 30px 0 0;
}

.btnStart {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: rgb(63, 124, 255);
	cursor: pointer;
	font-size: 1.3rem;
	color: white;
	font-weight: 700;
	margin: 0 30px 0 30px;
}

.btnStart:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: rgb(170, 195, 250);
	cursor: pointer;
	font-size: 1.3rem;
	color: white;
	font-weight: 700;
}

